# Byte-compiled / optimized / DLL support
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments & Local Secrets
.env
.env.*
!.env.example
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# dbt Artifacts & Credentials
dbt_packages/
logs/
target/
dbt_publisher_intel/profiles.yml
dbt_publisher_intel/.user.yml
.user.yml

# Cryptographic Keys
*.p8
*.pem
*.key
snowflake_key.pub

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# IDEs and OS
.idea/
.vscode/
.DS_Store
Thumbs.db